@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
}

.ql-container.ql-snow{
    height:400px;
}